<div class="d-flex justify-content-between align-items-center">
<h1><i class="bi bi-person-fill"></i> Admin</h1>
</div>
<div class="row" style="width: 50%; margin: auto">
    <div class="col-md-6 mb-4">
        <a href="/admin/books" class="card bg-primary text-light text-decoration-none">
            <div class="d-flex justify-content-center align-items-center" style="height: 150px">
                <h3 class="text-center"><i class="bi bi-book"></i> <br> Könyvek</h1>
            </div>
        </a>
    </div>
    
    <div class="col-md-6 mb-4">
        <a href="#" class="card bg-primary text-light text-decoration-none">
            <div class="d-flex justify-content-center align-items-center" style="height: 150px">
                <h3 class="text-center"><i class="bi bi-person"></i> <br> Szerzők</h1>
            </div>
        </a>
    </div>

    <div class="col-md-6 mb-4">
        <a href="#" class="card bg-primary text-light text-decoration-none">
            <div class="d-flex justify-content-center align-items-center" style="height: 150px">
                <h3 class="text-center"><i class="bi bi-person-workspace"></i> <br> Kiadók</h1>
            </div>
        </a>
    </div>

    <div class="col-md-6 mb-4">
        <a href="#" class="card bg-primary text-light text-decoration-none">
            <div class="d-flex justify-content-center align-items-center" style="height: 150px">
                <h3 class="text-center"><i class="bi bi-collection"></i> <br> Műfajok</h1>
            </div>
        </a>
    </div>
</div>